<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sin.cainiao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".utils.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="401db798885bb40a05df0ca9ebe39742" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchFoodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.FloatingSearchDemo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SearchMaterialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.FloatingSearchDemo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ShowDetailActivity"
            android:label="@string/title_activity_show_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.ShowProcessFoodDetailActivity"
            android:label="@string/title_activity_show_process_food_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Login_RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_change"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EditFoodActivity"
            android:label="@string/title_activity_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EditMaterialItemActivity"
            android:label="@string/title_activity_edit_material"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ShopRegisterActivity"
            android:label="@string/title_activity_shop_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ShopActivity"
            android:label="@string/title_activity_shop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar_change" />
        <activity
            android:name=".activity.AddShopItem"
            android:label="@string/title_activity_add_shop_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EditInfoActivity"
            android:label="@string/title_activity_edit_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CommentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>